@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  margin-bottom: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  display: grid;
  height: 50vh;
  width: 100%;
  place-items: center;
  background: linear-gradient(to right, rgb(206, 205, 205) 0%, rgb(141, 141, 141) 100%);
}

h3 {
  color: #fff;
}

/* nav */

.nav-line {
  background-color: rgb(40, 40, 40);
  height: 10vh;
  width: 96rem;
  display: flex;
}

.row-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9rem;
  color: white;
}

.naam-nav {
  margin-right: 30rem;
  margin-left: 3rem;
}

.naam-nav,
.Menu-nav,
.Orders-nav,
.contact-nav,
.login,
.signup {
  /* added signup class for sign up link */
  color: white;
}

.naam-nav:hover,
.Menu-nav:hover,
.Orders-nav:hover,
.contact-nav:hover,
.login:hover,
.signup:hover {
  /* added signup class for sign up link */
  color: rgb(189, 189, 189);
}

a:link {
  text-decoration: none;
}

/* nav end */

.container, .edit-menu {
  background: #fff;
  max-width: 350px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  margin-top: 100px;
}

.container form .title ,.edit-menu form {
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0 10px 0;
  position: relative;
}

.container form .title:before, .edit-menu form {
  content: '';
  position: absolute;
  height: 4px;
  width: 33px;
  left: 0px;
  bottom: 3px;
  border-radius: 5px;
  background: linear-gradient(to right, #ff0000 0%, #de2a2a 100%);
}

.container form .input-box , .edit-menu form {
  width: 100%;
  height: 45px;
  margin-top: 25px;
  position: relative;
}

.container form .input-box input .edit-menu form {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 16px;
  border: none;
}

.container form .underline::before .edit-menu form {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ccc;
  left: 0;
  bottom: 0;
}

.container form .underline::after  .edit-menu form{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #ff0000 0%, #de2a2a 100%);
  left: 0;
  bottom: 0;
}
