body {
    background-color: rgb(206, 205, 205);
    margin: 0;
    padding: 0;
}

/* nav */
.nav-line {
    background-color: rgb(40, 40, 40);
    height: 10vh;
    width: 96rem;
    display: flex;
}

.row-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9rem;
    color: white;
}

.naam-nav {
    margin-right: 30rem;
    margin-left: 3rem;
}

.naam-nav, .Menu-nav, .Orders-nav ,.contact-nav ,.login {
    color: white;
}

.naam-nav:hover, .Menu-nav:hover, .Orders-nav:hover ,.contact-nav:hover ,.login:hover {
    color: rgb(189, 189, 189);
}

a:link { text-decoration: none; } 
/* nav end */
.search-menu-naam {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20vh;
    margin-right: 50px;
}

#Menu {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.col-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.eaten-block-1 {
    height: 15vh;
    width: 80rem;
    background-color: rgb(55, 149, 237);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.food-naam {
    margin-left: 20px;
    width: 150px;
    font-size: largE;
}

.food-omschrijfing {
    font-size: large;
    width: 350px;
}

.food-prijces {
    font-size: large;
}

.gappe {
    width: 20rem;
}

.gappe {
    width: 20rem;
}

.gap-15vh {
    height: 15vh;
}

.search-bare {
    height: 50px;
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
}

.proc60 {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-left: 130px;
}


.proc40 {
    flex: 1;
    justify-content: flex-end;
    display: flex;
}

.search-img {
    height: 30px;
}

.search-txt {
    color: rgb(41, 41, 41);
    font-size: 20px;
    margin-left: 10px;
    margin-right: 40px;
}

.icon {
    padding-left: 25px;
    background: url("img/search-icon-transparent-images-vector-15.png") no-repeat left;
    background-size: 20px;
    height: 40px;
    width: 300px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

/* adaminpanel */

.add-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100rem;
    height: 15vh;
}

.add-button {
    height: 7vh;
    width: 7rem;
    background-color: #04AA6D;
    border: none;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.add-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.admin-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  .admin-table td, .admin-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .admin-table tr:nth-child(even){background-color: #f2f2f2;}
  
  .admin-table tr:hover {background-color: #ddd;}
  
  .admin-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.table-size {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100rem;
}

button {
    height: 4vh;
    width: 4rem;
    background-color: #04AA6D;
    border: none;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.delete-action {
    background-color: crimson;
}



/* adaminpanel */
